@import "variables.scss";

.button-black {
  background-color: $primaryColor;
}

.button-orange {
  background-color: orange;
}

.key-button {
  cursor: pointer;
  border: none;
  width: 7rem;
  height: 5rem;
  font-size: 1.5rem;
  color: $secondaryColor;
  font-family: inherit;
  outline: none;
  transition: color 0.2s ease-out;
  &:active {
    color: #111;
  }
}
